<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>wyrmite@gmail.com</string>
	<key>artistId</key>
	<integer>446737235</integer>
	<key>artistName</key>
	<string>The Pokemon Company</string>
	<key>bundleDisplayName</key>
	<string>Pokémon Rumble Rush</string>
	<key>bundleShortVersionString</key>
	<string>1.6.1</string>
	<key>bundleVersion</key>
	<string>1060101</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143441-1,32</string>
			<key>AppleID</key>
			<string>wyrmite@gmail.com</string>
			<key>DSPersonID</key>
			<integer>8376295328</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>E</string>
			<key>LastName</key>
			<string>G</string>
			<key>PurchaserID</key>
			<integer>8376295328</integer>
			<key>UserName</key>
			<string>E G</string>
		</dict>
		<key>purchaseDate</key>
		<string>2019-09-26T03:41:27Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2019 Pokémon. © 1995-2019 Nintendo/Creatures Inc./GAME FREAK inc. Developed by Ambrella.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Games</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1453000198</integer>
	<key>itemName</key>
	<string>Pokémon Rumble Rush</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>The Pokemon Company</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2019-09-26T03:41:27Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2019-07-31T10:53:10Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple123/v4/91/aa/31/91aa3127-fba0-34d8-34c1-930a444c0760/AppIcon-1x_U007emarketing-0-7-0-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<true/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>jp.pokemon.pokemonscrambleSP</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>836352881</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>830289791</integer>
		<integer>831946391</integer>
		<integer>832547280</integer>
		<integer>832927689</integer>
		<integer>833110749</integer>
		<integer>833297862</integer>
		<integer>833667335</integer>
		<integer>834868228</integer>
		<integer>835176053</integer>
		<integer>835295069</integer>
		<integer>836018987</integer>
		<integer>836352881</integer>
	</array>
	<key>storeCohort</key>
	<string>10|date=1745530200000&amp;sf=143441&amp;pgtp=Purchases&amp;prpg=Genre_25204</string>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Adventure</string>
			<key>genreId</key>
			<integer>7002</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Action</string>
			<key>genreId</key>
			<integer>7001</integer>
		</dict>
	</array>
	<key>userName</key>
	<string>E G</string>
	<key>vendorId</key>
	<integer>583908</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
